{% if settings.show_multiple_currencies %}
    <select class="currency-picker" name="currencies" style="display: none">
        {% assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' %}
        {% assign supported_codes = settings.supported_currencies | split: ' ' %}
        <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
        {% for code in supported_codes %}
            {% if code != shop.currency and codes contains code %}
                <option value="{{ code }}">{{ code }}</option>
            {% endif %}
        {% endfor %}
    </select>

    {% assign hzCurrencyMQ = '' %}
    {% assign vtCurrencyMQ = '' %}

    {% if settings.currency_mobile_style == 'flyout' %}
        {% capture vtCurrencyMQ %}{{ vtCurrencyMQ }} visible-xs{% endcapture %}
    {% elsif settings.currency_mobile_style == 'inline' %}
        {% capture hzCurrencyMQ %}{{ hzCurrencyMQ }} visible-xs{% endcapture %}
    {% endif %}

    {% if settings.currency_tablet_style == 'flyout' %}
        {% capture vtCurrencyMQ %}{{ vtCurrencyMQ }} visible-sm{% endcapture %}
    {% elsif settings.currency_tablet_style == 'inline' %}
        {% capture hzCurrencyMQ %}{{ hzCurrencyMQ }} visible-sm{% endcapture %}
    {% endif %}

    {% if settings.currency_desktop_style == 'flyout' %}
        {% capture vtCurrencyMQ %}{{ vtCurrencyMQ }} visible-md visible-lg{% endcapture %}
    {% elsif settings.currency_desktop_style == 'inline' %}
        {% capture hzCurrencyMQ %}{{ hzCurrencyMQ }} visible-md visible-lg{% endcapture %}
    {% endif %}

    <div class="currency__base">

        {% if hzCurrencyMQ != '' %}
            <div class="currency__inlineDisplay {{ hzCurrencyMQ }}">
                <ul class="currency__horizontalList">
                    {% for code in supported_codes %}
                        {% if codes contains code %}
                            {% if code == shop.currency %}
                                <li class="currency__item currency__active">{{ code }}</li>
                            {% else %}
                                <li class="currency__item">{{ code }}</li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if vtCurrencyMQ != '' %}
        <div class="currency__FlyoutDisplay {{ vtCurrencyMQ }}">
            <div class="currency__value">{{ shop.currency }}</div>
            <ul class="currency__verticalList">
                {% for code in supported_codes %}
                    {% if codes contains code %}
                        <li class="currency__item">{{ code }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
{%  endif %}